<p>The core of the Ntuple analysis code is a compilable library. It provides a lot of useful classes for the management of a hugh set of samples, the analysis of these samples and the handling of the analysis results. This library is to a very large extend independent of any specific analysis.</p>

<p>The analysis of the ntuples consists of three steps, each of which may be repeated without repeating the steps before:</p>

<ul>
<li>preparation of the input sample folder hierarchy</li>
<li>analyzing the input samples</li>
<li>using/formatting the analysis results</li>
</ul>

