<p class="tight">
The library ships with a python module. If you are
using <span class="codeblock">RootCore</span> setup, you can simply
type <span class="codeblock">import QFramework</span>, and you are
done.
</p>
