<p class="tight">
Historically, the  <span class="codeblock">HWWAnalysisCode</span> does not look like
the typical RootCore package, it knows how to interact with RootCore. If you
want to use it as a RootCore package, simply type
<div class="codeblock">
  make RootCore
</div>
After that, it will behave just as any other RootCore package does. 
</p>
