<p class="tight">
The <span class="codeblock">HSG3AnalysisCode</span> knows how to handle xAOD
files, but it requires the ATLAS EDM libraries to actually make sense of the
containers. Hence, you need to setup an ASG RootCore release and compile
the <span class="codeblock">HSG3AnalysisCode</span> as a RootCore package inside
that release. After that, the code will automagically handle xAODs for you, just
as if they were regular flat nTuples.
</p>
